.app {
  background-color: var(--light-blue);
  width: 985px;
  height: 610px;
  border-radius: 20px;
  padding: 40px;
  display: flex;
}

aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: var(--dark-blue);
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  margin-right: 20px;
}

/* Profile starts */
.profile {
  display: flex;
  align-items: flex-start;
  margin-bottom: 75px;
}

.profile__picture {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-image: url("../../Images/alina.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.profile__name {
  font-size: 12px;
  font-weight: 400;
}

.profile__email {
  font-size: 9px;
}

/* Profile ends */

/* Menu starts */
nav {
  height: 100%;
}

.menu__list {
  list-style: none;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu__list__item,
.logout__link {
  border-radius: 10px;
  padding: 8px 15px;
  margin-bottom: 5px;
  transition: var(__transition);
}

.menu__list__item.active,
.menu__list__item:hover,
.logout__link:hover {
  background-color: var(__light-blue);
}

.menu__list__item:last-child {
  justify-self: flex-end;
}

.nav__link {
  font-size: 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.list__icon {
  color: #fff;
  margin-right: 15px;
}

.list__icon i {
  color: #fff;
  display: block;
  font-size: 20px;
}

/* Menu Ends */

/* Main Section starts */

.main__section {
  flex: 1;
}

.main__section--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__section--top form {
  position: relative;
}

.search__icon {
  position: absolute;
  left: 15px;
  top: 8px;
}

.search__icon i {
  color: var(--dark-blue);
}

.main__section--top form input {
  display: inline-block;
  width: 200px;
  padding: 8px 10px 8px 50px;
  background: none;
  border: 1px solid var(--dark-blue);
  outline: none;
  color: var(--dark-blue);
}

.main__section--top form input::placeholder {
  color: var(--dark-blue);
}

.add__btn {
  background-color: var(--pink);
  border-radius: 50%;
  border: none;
  padding: 8px;
  height: 40px;
  width: 40px;
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
}

.add__btn:hover {
  opacity: 0.7;
}

.add__btn i {
  font-size: 20px;
}
